# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Testing and coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Streamlit
.streamlit/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Build files
build/
dist/
*.egg-info/